@{
    ViewBag.Title = "About";

}
<div class="col-md-6">
    <h2>FAQ</h2>
    <p style:"">
        Encryption Report Web App may have any of the following issues.<br />
        If the Graphs on the main page are not displaying or have issues try using Chrome<br />
        If the Database isn't loading or takes to long to load, Try refreshing the page.<br />
        If there are any errors with the display, take a screenshot and send it to sophie.<br />
        <br />
        If you see any data in the SQLStatus page is missing or innacurate contact Jo Ferrer for support<br />
    </p>
</div>
<div class="col-md-6">
    <h2>Need  Help? Have A Suggestion?</h2>
    <p>
        The current Web App maintainer is Sophia Sanles. <br />
        Her email is provided below and for immediate help you can jabber her as well.<br />
        The current data maintainer is Jo Ferrer <br />
        For any concerns related to the data provided His email is provided below.
    </p>
    <address>
        <strong>Web App Maintainer:</strong>   <a href="mailto:Sophia.Sanles@MolinaHealthCare.com?Subject=EncryptionReport%20Support">Sophia.Sanles@MolinaHealthCare.com</a><br />
        <strong>Data Maintainer:</strong> <a href="mailto:Dominador.FerrerIII@MolinaHealthCare.Com?Subject=EncryptionReport%20Support">Dominador.FerrerIII@MolinaHealthCare.Com</a>
    </address>
    
</div>
>