@model DbReportGenerator.Models.statusSQL
@{
    ViewBag.Title = "Index";
    @Scripts.Render("~/bundles/chartist")
    @Styles.Render("~/Content/chartist")


}
@section scripts{
<script>

    var data = {
        labels: ["Mon", "Tue", "Wed", "Thu", "Fri"],
        series: [[5, 2, 4, 2, 0]]

    };
    var options = {
        width: 300,
        height: 200
    };
    new Chartist.Pie('.ct-chart', data,options);
    </script>
    }
<div class="ct-chart"></div>